body {
  font-family: "Inter", sans-serif;
  margin: 6em 4em;
}
@media screen and (max-width: 768px) {
  body {
    margin: 2em 1em;
  }
}
.customBtn {
  margin-left: -40px;
  position: relative;
  background: none;
  border: none;
}
.customBtn svg {
  position: absolute;
  color: #dc3545;
  margin-right: -68px;
  justify-content: center;
  align-items: center;
  align-self: anchor-center;
}
.navbar-expand-lg .navbar-collapse {
  justify-content: space-between;
  padding: 0 10px;
}
.custom-logo {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
}
.menu-item a {
  color: #fff;
  text-decoration: none;
}
h2 {
  font-size: 2.5em;
  color: #df001e;
  margin-bottom: 0.5em;
  font-weight: bold;
  font-family: "Inria Serif", serif;
}
.card-title {
  color: white;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limits to two lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-body {
  color: white;
  position: absolute;
  bottom: 0;
}
.card-img-overlay {
  align-content: end;
}
.swiper-button-next,
.swiper-button-prev {
  background: #df001e;
  border-radius: 50%;
  padding: 15px;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  color: #fff;
  font-size: 1em !important;
}
.top-story a {
  color: #000;
  text-decoration: none;
  /* display: -webkit-box;
  -webkit-line-clamp: 1; /* Limits to two lines */
  /* -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; */
}
.card-img-overlay .badge.bg-danger {
  padding: 10px;
  margin-bottom: 10px;
}

.badge.bg-danger {
  border-radius: 0;
}
.hr {
  opacity: 1;
}
.top-stories {
  border-left: 1px solid #000;
}
.top-stories .top-story {
  padding: 0.5em;
}

/* Swiper fixes for Bootstrap themes */
.swiper {
  width: 100%;
  padding: 20px 0;
}
.swiper-wrapper {
  display: flex;
}
.swiper-slide {
  flex-shrink: 0;
  width: auto !important;
  height: auto;
  display: flex;
  justify-content: center;
}
.owl-carousel {
  width: 100%;
  z-index: 1;
}
